<mat-card>
  <mat-card-header>
    <mat-card-title>
      Course Outline
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

   <mat-list dense>
       <mat-list-item *ngFor="let lesson of lessons"
       (click)="selected.emit(lesson)">
           <h3>{{lesson.title}}</h3>
       </mat-list-item>
   </mat-list>
  </mat-card-content>


  <!-- <mat-card>
      <mat-card-header>
          <mat-card-title>Debug</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span *ngIf="currentLesson; else elseBlock">{{currentLesson | json}}</span>
        <ng-template #elseBlock>Select a lesson</ng-template>
      </mat-card-content>
  </mat-card> -->
</mat-card>
